body
{
	background-color:#1b212c;
	margin:0;
}
html 
{
  scroll-behavior: smooth;
}

.ButtonDiv
{
	background-color:#4CAF50;
	text-align:center;
	margin-top:-4px;
	transition: 1s ease;
}
.button
{
	background-color:#4CAF50;
	border: none;
	color: white;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
	transition: 1s ease;
}

.button:hover
{
	background-color: rgba(0, 0, 0, 0.3);
}
.Area
{
	background-color:blue
}
.title
{
	color:white;
	text-align: center;
	font-size:64px;
	margin-top: 4px;
	margin-bottom: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.subtitle
{
	color:white;
	text-align: center;
	font-size:32px;
	margin-top: 4px;

}

h1
{
	color:white;
	font-size: 64px;
	margin-top: 4px;
	margin-bottom: 4px;
}
h2,h3,h4,h5,h6 
{
	color:white;
	font-size: 32px;
	margin: 4px 4px;
}
p
{
	color: white;
}
.SideTextArea
{
	height: 100%;
	width: 500px;
	z-index: 1;
	top:0;
	padding-left:200px;
	transition: 1s ease;
}
.SidePanel
{
	height: 100%;
	width: 180px;
	position: fixed;
	z-index: 1;
	top:0;
	left:0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
	transition: 1s ease;
}
.SidePanel a 
{
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}
.SidePanel a:hover 
{
	color: #f1f1f1;
}
.main 
{
	margin-left: 160px; 
	padding: 0px 10px;
}
@media screen and (max-height: 450px) 
{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.maintext
{
	text-align:center;
	font-size: 24px;
}

/*images*/
.cursor
{
	cursor: pointer;
}
.ImgGallery /*the mainDiv class for images*/
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	position: relative; 
	max-width: 800px;
}
.Images /*Div Class for the images themselves*/
{
	display:none;
	position:relative;
	text-align:center;/*centers the images*/
}
.CapCon
{
	height:auto;
	width:100%;
}
.fadeout
{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
.CaptionText
{
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5); 
	width: 100%;
	transition: .5s ease;
	opacity:1;
	color: white;
	font-size: 20px;
	padding: 20px;
}
.row:after 
{
  content: "";
  display: table;
  clear: both;
}
.column 
{
  float: left;
  width: 16.66%;
}
.Thumbnail
{
	opacity:0.5;
}
.active, .Thumbnail:hover
{
	opacity: 1;
}
@-webkit-keyframes fade
{
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade
{
  from {opacity: .4}
  to {opacity: 1}
}
